body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px gray;
}

.profile {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
}

.name {
    color: #2a5bd7;
}
